<h2>Sign In</h2>

<%= form_tag(session_path) do %>
	<p>
		<%= label_tag :email %>
		<%= email_field_tag :email, nil %>
	</p>	
	<p>
		<%= label_tag :password %>
		<%= password_field_tag :password, nil %>
	</p>
	<p>
		<%= submit_tag "Sign In" %>
	</p>
<% end %>
