<div class="showcontainer">
  <div class="showinfo">
    <h2>Welcome, CodeHero <%= @user.name %></h2>
    <p><%= image_tag @user.image_url.to_s %><br><br>
    <%= @user.email %></p>
    <%= link_to "Edit Account", edit_user_path(@user) %><br>
    <%= link_to "Delete user", user_path(@user.id), method: :delete,
    													 data: { confirm: "Are you sure?" } %>
  </div>
</div>
