<%= form_for(@level) do |f| %>
	<div>
		<%= label(:title, "Title: ") %>
		<%= f.text_field(:title) %>
	</div>
	<div>
		<%= label(:description, "Description: ") %>
		<%= f.text_field(:description) %>
	</div>
	<div>
		<%= f.submit "Make" %>
	</div>
<% end %>
